name: Pneumonia App CI/CD

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout repo
        uses: actions/checkout@v4

      # 2. Set up Python (for running tests)
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      # 3. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      # 4. Run tests
      - name: Run tests
        run: pytest tests

      # 5. Set up Docker
      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      # 6. Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 7. Build Docker image
      - name: Build Docker image
        run: docker build -t jagan515/pneumonia-detector:latest .

      # 8. Push Docker image to Docker Hub
      - name: Push Docker image
        run: docker push jagan515/pneumonia-detector:latest
